@import "./utilities/_variables.scss";
@import "./utilities/_container.scss";
@import "./utilities/_section.scss";

@import "./components/_header.scss";
@import "./components/_nav.scss";
@import "./components/_img.scss";
@import "./components/_footer.scss";
@import "./components/_input.scss";

html {
  font-size: $global-font-size;
  background-color: $global-background-color;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

// Set height to 100% in Firefox
@-moz-document url-prefix() {
  body {
    height: 100%
  }
}

p {
  font-size: 1.75rem;
  line-height: 4rem;
}

div {
  font-size: 1.75rem;
  line-height: 4rem;
}
