.container {
  margin: 0 auto;
  max-width: 55rem;
  padding: 0 0;
  word-wrap: break-word;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }

footer .container {
  flex-grow: 0;
  box-shadow: none;
  padding: 0 2rem;
  box-sizing: border-box; }

.content {
  background-color: white;
  padding: 4rem 2rem;
  flex-grow: 1; }

section {
  margin-bottom: 6rem; }

header {
  padding: 1rem 2rem;
  background-color: #39472d;
  color: white; }
  header h1 {
    font-size: 4rem; }
  header h2 {
    font-size: 3.5rem; }
  header h3 {
    font-size: 3rem; }
  header h4 {
    font-size: 2.5rem; }
  header h5 {
    font-size: 2rem; }

nav {
  background-color: #303030;
  position: sticky;
  top: 0; }
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem; }

img {
  width: 100%; }

footer {
  background-color: #303030;
  color: white;
  padding: 4rem 2rem; }
  footer a {
    display: block;
    text-decoration: none;
    color: white; }

input {
  display: block;
  margin-bottom: 2rem; }

input[type="text"], input[type="email"] {
  padding: 0rem 1rem; }

html {
  font-size: 62.5%;
  background-color: #6e8d3f;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; }

@-moz-document url-prefix() {
  body {
    height: 100%; } }

p {
  font-size: 1.75rem;
  line-height: 4rem; }

div {
  font-size: 1.75rem;
  line-height: 4rem; }

/*# sourceMappingURL=main.css.map */