$container-max-width: 55rem;

.container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding: 0 0;
  word-wrap: break-word;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

footer {
  .container {
    flex-grow: 0;
    box-shadow: none;
    padding: 0 2rem;
    box-sizing: border-box;  }
}

.content {
  background-color: white;
  padding: 4rem 2rem;
  flex-grow: 1;
}
