$footer-background-color: #303030;
$footer-font-color: white;
$footer-padding: 4rem 2rem;

footer {
  background-color: $footer-background-color;
  color: $footer-font-color;
  padding: $footer-padding;

  a {
    display: block;
    text-decoration: none;
    color: $footer-font-color;
  }
}
