$header-background-color: #39472d;
$header-font-color: white;

header {
  padding: 1rem 2rem;
  background-color: $header-background-color;
  color: $header-font-color;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2rem;
  }
}
