$nav-background-color: #303030;
$nav-font-color: white;

nav {
  // display: flex;
  background-color: $nav-background-color;
  position: sticky;
  top: 0;

  a {
    color: $nav-font-color;
    text-decoration: none;
    padding: 0.5rem 2rem;
  }
}
